<app-header></app-header>
<div class="container">
  <div class="banner">
    <div class="img__banner">
      <img src="../../../../../assets/images/games/banner-games.svg" alt="">
    </div>
      <h1>{{title}}</h1>
      <p>{{description}}</p>
  </div>
  <div class="input__search">
    <input type="search" name="search-animes" id="search-animes"  placeholder="Quer ajuda na procura? Pesquise aqui"/>
  </div>
  <div class="create-post" *ngIf="user?.adm">
    <button routerLink="/create-games">Novo Post</button>
  </div>
  <div class="cards__animes">
    <div class="card" *ngFor="let n of games">
      <div class="img__card" (click)="detalhesGames(n.id)">
        <img src={{n.src}} alt="">
      </div>
      <p>{{n.description}}</p>
    </div>

  </div>
</div>
<app-footer></app-footer>
