.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  margin-top: 50px;

  h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #8257E6;
    margin-bottom: 10px;
  }

  p {
    max-width: 420px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #C4C4C4;
    text-align: center;
  }
}

@media screen and (max-width: 414px){
  .footer {
    width: 100vw;
  }
}
