.container {
  max-width: 1100px;
  margin: 0 auto;

  .banner {
    position: relative;
    margin: 50px 0;

    .img__banner {
      width: 100%;
      height: 300px;
      object-fit: cover;
      img {
        width: 100%;
        height: 100%;
        filter: brightness(0.7)
      }
    }

    h1 {
      position: absolute;
      left: 0;
      bottom: 45%;
      font-family: 'Lexend Deca', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 55px;
      color: #FEFBFB;
      padding-left: 40px;
    }

    p {
      position: absolute;
      left: 0;
      bottom: 20%;
      max-width: 550px;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #C4C4C4;
      padding-left: 40px;
    }
  }

  .input__search {
    width: 100%;
    margin-bottom: 50px;

    input {
      width: 100%;
      height: 60px;
      font-family: 'Lexend Deca';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #989898;
      background: #282830;
      border: none;
      padding-left: 40px;
      outline: none;

      &::placeholder {
        color: #989898;
      }
    }
  }

  .create-post {
    margin-bottom: 50px;

    button {
      width: 250px;
      height: 50px;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #FEFBFB;
      background: #8257E6;
      border-radius: 3px;
      border: none;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  .cards__animes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      width: 340px;
      position: relative;
      margin-bottom: 20px;

      .img__card {
        width: 340px;
        height: 250px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.7);
        }
      }

      p {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #C4C4C4;
        padding: 0 0 10px 10px;
        background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 10px;

    .cards__animes {
      justify-content: center;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 414px) {
  .container {
    padding: 0 10px;

    .banner {
      position: relative;
      margin: 30px 0;

      .img__banner {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;

        img {
          width: 100%;
          height: 100%;
          filter: brightness(0.5)
        }
      }

      h1 {
        top: 10%;
        font-size: 20px;
        line-height: 22px;
        padding-left: 10px;
      }

      p {
        display: none;
      }
    }

    .input__search {
      width: 100%;
      margin-bottom: 30px;

      input {
        height: 50px;
        font-size: 14px;
        line-height: 16px;
        padding-left: 20px;
      }
    }

  }
}
