<div class="main-container">
  <div class="main-title">
    <h1>{{title}}</h1>
    <h1>{{subtitle}}</h1>
    <p>{{description}}</p>
  </div>
  <div class="main-banner">
    <div class="banner-principal">
      <img src="../../../../assets/images/banner-main.svg" alt="banner principal">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>Nulla eros tellus, malesuada et velit in, blandit molestie dolor.</span>
    </div>
    <div class="asside-banner">
      <div class="asside">
        <img src="../../../../assets/images/asside-banner-1.svg" alt="banner principal">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros tellus, malesuada et velit in, blandit molestie dolor.</span>
      </div>
      <div class="asside banner__2">
        <img src="../../../../assets/images/asside-banner-2.svg" alt="banner principal">
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eros tellus, malesuada et velit in, blandit molestie dolor.</span>
      </div>
    </div>
  </div>
</div>
