.recents__container {
  max-width: 1100px;
  margin: 100px auto 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;

  h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    color: #FEFBFB;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: #8257E6;
      margin: 10px 0 10px 0;
    }
  }

  .recentes__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;


    .card {
      width: 340px;
      position: relative;
      margin-bottom: 20px;

      .img__card {
        width: 340px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(0.7);
        }
      }

      p {
        position: absolute;
        left: 0;
        bottom: 0px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #C4C4C4;
        padding: 0 0 10px 10px;
        background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%);
      }

      button {
        position: absolute;
        left: 0;
        top: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.05rem;
        color: #FEFBFB;
        background: #8257E6;
        border: none;
        border-radius: 3px;
        padding: 5px;
        margin: 10px 0 0 10px;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .recents__container {
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
    padding: 0 10px;
    gap: 30px;

    .recentes__wrapper {
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 414px){
  .recents__container {
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
    padding: 0 10px;
    gap: 20px;

    .recentes__wrapper {
      align-items: center;
      justify-content: center;

      .card {
        width: 100vw;


        .img__card {
          width: 100%;
        }
      }
    }
  }
}
